@model IEnumerable<MaterialModel>

@{
    ViewData["Title"] = "Produtos";
}

@section Styles {
    <link rel="stylesheet" href="~/wwwroot/css/site.css" />
}

<h1>Produtos</h1>
<div class="container">
    <div class="row Material-Index-row">

        <a class="btn btn-primary col-3 Material-Index-element" asp-controller="Material" asp-action="Create">Cadastrar Produto +</a>

        <form action="/" method="post" class="Material-Index-formSpace col-12">
            <div class="Material-Index-searchFilter Material-Index-element">
                <div class="row">
                    <div class="col-4">
                        <label>Nome do produto</label><br />
                        <input type="text" name="name" value="" />
                    </div>
                    <div class="col-4">
                        <label>Período inicial</label><br />
                        <input type="date" name="name" value="" />
                    </div>
                    <div class="col-4">
                        <label>Período final</label><br />
                        <input type="date" name="name" value="" />
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary Material-Index-searchBtn">Buscar</button>
                    </div>
                </div>
            </div>
        </form>


        <table class="table Material-Index-element">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Código</th>
                    <th scope="col">Código Fiscal</th>
                    <th scope="col">Espécie</th>
                    <th scope="col">Criado em</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (MaterialModel material in Model)
                    {
                        <tr>
                            <td>@material.Name.ToString()</td>
                            <td>@material.IdSupplier.ToString()</td>
                            <td>@material.Code.ToString()</td>
                            <td>@material.FiscalCode.ToString()</td>
                            <td>@material.Specie.ToString()</td>
                            <td>@material.CreatedAt.ToString("dd/MM/yyyy")</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a role="button" class="btn btn-warning" asp-route-id="@material.Id" asp-controller="Material" asp-action="Edit">Editar</a>
                                    <a role="button" class="btn btn-danger" asp-route-id="@material.Id" asp-controller="Material" asp-action="Delete">Excluir</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>